/* ESTILO Y CONTENEDORES DE BOTONES */
@import '../base/variables';
@import '../base/listas';


.button-style {
    background-color: white;
    border: none;
    text-decoration: none;
    text-align: center;
    font-family: $font-gral;
    font-size: $button-fs;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 75%;
    display: grid;
    justify-self: center;

    &:hover {
        background-color: #7d5a5a;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        text-decoration: underline;
        transform: scale(1.25);
        transition: all 1s;
    }

    @media (min-width:600px) and (max-width:1024px){
        background-color: white;
        border: none;
        text-decoration: none;
        text-align: center;
        font-family: $font-gral;
        font-size: $button-tablet-fs;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 200px;
    }

    @media (max-width: 599px) {
        background-color: white;
        border: none;
        text-decoration: none;
        text-align: center;
        font-family: $font-gral;
        font-size: $button-celular-fs;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 200px;
    }
}

.adoption-button-style {
    background-color: white;
    border: none;
    text-decoration: none;
    text-align: center;
    font-family: $font-gral;
    font-size: $button-fs;
    padding: 12px 28px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 50%;
    margin: 10px 150px 10px 150px;

    &:hover {
        background-color: #7d5a5a;
        transform: scale(1.25);
        transition: all 1s;
    }

    @media (min-width:600px) and (max-width:1024px) {
        background-color: white;
        border: none;
        text-decoration: none;
        text-align: center;
        font-family: $font-gral;
        font-size: $button-fs;
        padding: 10px 10px;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 50%;
        margin: 10px 100px 10px 100px;
    }

    @media (max-width: 599px) {
        background-color: white;
        border: none;
        text-decoration: none;
        text-align: center;
        font-family: $font-gral;
        font-size: $button-fs;
        padding: 8px 8px;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 75%;
        margin: 10px 25px 10px 25px;
    }
}

/* CONTAINERS */
.button-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 150px 0 150px;

    @media (min-width:600px) and (max-width:1024px) {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    @media (max-width: 599px) {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
}

.adoption-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    @media (min-width:600px) and (max-width:1024px) {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    @media (max-width: 599px) {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
}



